.table
{
    border-collapse: collapse;
    position: relative;
}

.table__header
{
    border-bottom: solid 2px #c32766;
}

.table td
{
    padding: 10px 20px 10px 0;
}

.table tr :first-child
{
    padding-left: 20px;
}
