@import url('./Assets/Fonts/FiraCode.css');

body
{
    margin: 0;
}

#app
{
    width: 100%;
    height: 100%;
}

.app
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url('./Assets/Images/DustySpace.svg') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Fira Code', Arial, sans-serif;
}

.app__data
{
    height: 60%;
    padding: 50px;
    background: #353535;
    overflow: auto;
    box-shadow: 10px 10px 0 #c32766;
}

.app__text--shaded
{
    color: rgba(255, 255, 255, 0.5);
}

.app__text--hilighted
{
    color: #de2f75;
}

.table td
{
    max-width: 100px;
    font-size: 12px;
    color: #fff;
}

.table__header td
{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.table td:nth-child(1)
{
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
}

.table td:nth-child(2)
{
    max-width: 200px;
}

.table td:nth-child(5)
{
    text-align: right;
}
